nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  color: #888;
  text-decoration: none;
  padding: 0 10px;
  line-height: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

main{
}
