nav{
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
nav a{
  text-decoration: none;
  padding: 0 10px;
  line-height: 50px;
  transition: all .3s;
}
nav a:hover{
  text-decoration: underline;
}
nav a.active{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

main{
  padding: 10px;
}